.container {
    height: 100vh;
    background: linear-gradient(30deg, var(--bl), var(--pu));
    position: relative;
}

.container-reverse {
    background: linear-gradient(-30deg, var(--pu), var(--bl));
}


@keyframes down-animation {
    50% {
        bottom: 20px;
    }
}

.down {
    animation-name: down-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    bottom: 40px;
}

.wrapper #scroll {
    position: absolute;
    left: calc(50% - 40px);
    bottom: 40px;
}

.header-container {
    background: linear-gradient(30deg, var(--bl), var(--pu));
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: 80vh;
}

.call-action {
    grid-column: 1/2;
}

.call-action h1 {
    font-size: 40px;
}

header .img {
    grid-column: 2/3;
    background-image: url("src/whey.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
}

.call-action button {
    background-color: var(--col);
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    font-family: Karla;
    font-weight: 700;
}

.call-action span {
    display: block;
    font-size: 14px;
}

/*  Company Description  */

.company-container {
    background: linear-gradient(-30deg, var(--pu), var(--bl));
    padding: 30px 0;
}

.company {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    min-height: 60vh;
    align-items: center;
}

.company-wrapper div {
    padding: 20px;
}

.company-wrapper .video {
    grid-column: 1/2;
}

.company-wrapper .company-desc {
    grid-column: 2/3;
}

.company-wrapper .video svg {
    width: 100%;
}

.company-desc h2 {
    color: rgb(7, 98, 179);
    font-size: 30px;
    margin: 0;
}

.company-desc p {
    width: 80%;
    line-height: 22px;
}

.company .mail {
    margin-top: 30px;
}

.company .mail input, .company .mail button {
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 15px;
}

.company .mail input {
    width: 240px;
}

.company .mail button {
    background-color: rgb(42, 139, 225);
    color: #eee;
    font-weight: 600;
}

/*  END Company Description  */

/* Categories */

.container-product {
    background: linear-gradient(30deg, var(--bl), var(--pu));
    padding: 30px 0;
}

.our-products {
    padding: 20px 0;
    text-align: center;
}

.our-products h2 {
    font-size: 30px;
    margin: 0;
    padding: 10px 0;
    color: rgb(7, 98, 179);
}

.our-products p {
    width: 70%;
    margin: 10px auto;
}

.our-products button {
    padding: 8px 40px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    font-family: karla;
    font-weight: 700;
    font-size: 25px;
    background-color: rgb(7, 98, 179);
    color: #fff;
}

.categories {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.categories .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    width: 100%;
}

.categories .row .box {
    margin: 15px 5px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #eee;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 200 200'%3E%3Cpolygon fill='rgba(42, 139, 225,0.2)' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
}

.categories .box img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid rgb(42, 139, 225);
}

.categories .box button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    width: 200px;
    display: block;
    margin-top: 10px;
    font-family: karla;
    font-size: 18px;
    background-color: rgb(42, 139, 225);
    color: #fff;
    text-transform: capitalize;
}

/* services */

.services-container {
    background: linear-gradient(-30deg, var(--pu), var(--bl));
    padding: 30px 0;
}

.our-services {
    padding: 20px 0;
    text-align: center;
}

.our-services h2 {
    font-size: 30px;
    margin: 0;
    padding: 10px 0;
    color: rgb(7, 98, 179);
}

.our-services p {
    width: 70%;
    margin: 10px auto;
}

.services {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, minmax(0px 1fr));
    column-gap: 30px;
}

.services div {
    margin-top: 30px;
    background-color: #fff;
    border-radius: 5px;
    border-left: 6px solid rgb(42, 139, 225);
    border-right: 6px solid rgb(42, 139, 225);
    box-shadow: 0px 2px 5px rgba(67, 67, 67, 0.5);
    cursor: pointer;
}

.services div:nth-child(1) {
    grid-area: 1/1/2/5;
}

.services div:nth-child(2) {
    grid-area: 1/5/2/9;
}

.services div:nth-child(3) {
    grid-area: 1/9/2/13;
}

.services div:nth-child(4) {
    grid-area: 2/3/3/7;
}

.services div:nth-child(5) {
    grid-area: 2/7/3/11;
}

.services div:hover {
    box-shadow: 0px 0px 5px rgba(67, 67, 67, 0.5);
}

.services div svg {
    width: 60px;
    margin: 12px 0;
    fill: rgb(42, 139, 225);
}

.services div p {
    color: gray;
}

.our-services button {
    padding: 8px 40px;
    border: none;
    border-radius: 5px;
    margin: 40px 0;
    font-weight: 700;
    font-family: karla;
    font-size: 25px;
    background-color: rgb(7, 98, 179);
    color: #fff;
}

/* END services */


/* SCROLL TO TOP BTN  */

@keyframes toTop {
    50% {
        bottom: 20px;
    }
}

.toTop {
    animation-name: toTop;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    bottom: 10px;
}

#scroll-top {
    transform: rotateX(180deg);
    right: 10px;
    position: fixed;
    bottom: 10px;
    display: none;
}

button:hover {
    transition: .5s ease-in;
    background-color: rgb(42, 139, 225);
}


/* MEDIA QUERY */

@media screen and (max-width:1200px) {
    .wrapper {
        width: 90%;
    }
    .categories .row {
        flex-wrap: wrap;
    }
    .categories .row .box {
        margin: 15px 5px;
    }
    .company-desc p {
        width: 100%;
    }
}

/* Large devices  */

@media screen and (max-width:950px) {
    .container-product .wrapper {
        width: 80%;
    }
    .categories .row .box {
        margin: 15px;
    }
    header .img {
        background-size: cover;
    }
    .company-wrapper div {
        padding: 10px;
    }
    .services div:nth-child(1) {
        grid-area: 1/1/2/7;
    }
    .services div:nth-child(2) {
        grid-area: 1/7/2/13;
    }
    .services div:nth-child(3) {
        grid-area: 2/1/3/7;
    }
    .services div:nth-child(4) {
        grid-area: 2/7/3/13;
    }
    .services div:nth-child(5) {
        grid-area: 3/4/4/10;
    }
    .community button, .community input {
        width: 100%;
    }
}

/* 700 */

/* Medium devices */

@media screen and (max-width:768px) {
    #display {
        display: block;
    }
    .nav-controll {
        position: fixed;
        top: 20;
        right: 20px;
        z-index: 10;
        background-color: rgba( 35, 64, 10, .2);
        padding: 5px;
        border-radius: 50%;
    }
    .links {
        position: fixed;
        background: linear-gradient(15deg, var(--bl), var(--pu));
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        text-align: center;
        padding-top: 60px;
        transition: all .5s;
    }
    nav .links a {
        display: block;
        padding: 30px 0;
        margin-left: 0px;
        font-size: 20px;
    }
    .links a:hover {
        background: linear-gradient(-15deg, #486eb4, #866fd3);
    }
    .wrapper #scroll {
        display: none;
    }
    header {
        text-align: center;
    }
    .call-action {
        grid-column: 1/3;
    }
    .call-action h1 {
        font-size: 30px;
    }
    header .img {
        display: none;
    }
    .company-wrapper div {
        padding: 20px;
    }
    .company-wrapper .video {
        grid-area: 1/1/2/3;
    }
    .company-wrapper .company-desc h2 {
        text-align: center;
    }
    .company-wrapper .company-desc {
        grid-area: 2/1/3/3;
    }
    .our-services p, .our-products p {
        width: 90%;
    }
    .services div:nth-child(1) {
        grid-area: 1/2/2/12;
    }
    .services div:nth-child(2) {
        grid-area: 2/2/3/12;
    }
    .services div:nth-child(3) {
        grid-area: 3/2/4/12;
    }
    .services div:nth-child(4) {
        grid-area: 4/2/5/12;
    }
    .services div:nth-child(5) {
        grid-area: 5/2/6/12;
    }
    footer div {
        text-align: center;
    }
    footer .info {
        grid-area: 1/1/2/7;
    }
    footer .about {
        grid-area: 1/7/2/13;
    }
    footer .contact {
        grid-area: 2/1/3/7;
    }
    footer .community {
        grid-area: 2/7/3/13;
    }
}

/* Extra small devices */

@media screen and (max-width: 600px) {
    footer .info {
        grid-area: 1/1/2/7;
    }
    footer .about {
        grid-area: 1/7/2/13;
    }
    footer .contact {
        grid-area: 2/1/3/13;
    }
    footer .community {
        grid-area: 3/1/4/13;
    }
    .company .mail {
        width: 80%;
    }
    .company .mail input, .company .mail button {
        display: block;
        box-sizing: border-box;
        width: 100%;
    }
    .company .mail button {
        margin-top: 10px;
    }
}