body {
    background: linear-gradient(-30deg, var(--pu), var(--bl));
}

.container {
    background: linear-gradient(-30deg, var(--pu), var(--bl));
    text-align: center;
    position: relative;
}

.email {
    text-align: left;
    margin: 2rem 0;
    background-color: rgba(255, 255, 250, 0.5);
    padding: 1rem;
    border-radius: 5px;
}

.email p:nth-of-type(1) {
    color: #444 !important;
}

.email p:nth-of-type(2) {
    background-color: var(--col);
    display: inline-block;
    padding: 0.6rem 1rem;
    border-left: 8px solid #eee;
    margin: 0;
}

form {
    max-width: 900px;
    margin: 5rem auto;
    padding: 2rem 0;
    color: #fff !important;
    box-shadow: 0 0 5px #ddd;
    border-radius: 1rem;
}

form .row {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
}

form input, form textarea {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--col);
    padding: 0.5rem;
    box-sizing: border-box;
    margin: 0.5rem 0;
    /* border-radius: 5px; */
    font-size: 1rem;
}

form input::placeholder, form textarea::placeholder {
    color: white;
}

.row input {
    width: 49%;
}

form>input {
    width: 90%;
}

textarea {
    resize: none;
    width: 90%;
}

form input[type="submit"], form input[type="button"] {
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    width: 20%;
    transition: 0.5s;
    letter-spacing: 2px;
    border-radius: 5px;
    border: 1px #fff dashed;
}

form input[type="submit"]:hover, form input[type="button"]:hover {
    background-color: var(--col);
}
