body {
    background: linear-gradient(-30deg, var(--pu), var(--bl));
}

.container {
    background: linear-gradient(-30deg, var(--pu), var(--bl));
    text-align: center;
    position: relative;
    padding-bottom: 5rem;
}

.email {
    text-align: left;
    background-color: rgba(255, 255, 250, 0.5);
    padding: 1rem;
    border-radius: 5px;
    max-width: 900px;
    box-sizing: border-box;
    margin: 5rem auto;
}

.email p:nth-of-type(1) {
    color: #444 !important;
}

.email a {
    background-color: var(--col);
    display: inline-block;
    padding: 0.6rem 1rem;
    border-left: 8px solid #eee;
    margin: 0;
}

form {
    max-width: 900px;
    margin: 5rem auto;
    padding: 2rem 0;
    box-shadow: 0 0 5px #ddd;
    border-radius: 5px;
    background: rgba(255,255,255,0.1);
}
form input{
    color: #fff !important;
}

form .row {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
}

form input, form textarea {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--col);
    padding: 0.5rem;
    box-sizing: border-box;
    margin: 0.5rem 0;
    /* border-radius: 5px; */
    font-size: 1rem;
}

form input::placeholder, form textarea::placeholder {
    color: white;
    opacity: 0.8;
}

.row input {
    width: 49%;
}

form>input {
    width: 90%;
}

textarea {
    resize: none;
    width: 90%;
}

form input[type="submit"] {
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    width: 20%;
    transition: 0.5s;
    letter-spacing: 2px;
    border-radius: 5px;
    border: 1px #fff dashed;
    margin-bottom: 0;
    margin-top: 1.5rem;
}

form input[type="submit"]:hover {
    background-color: var(--col);
}

/* popup */

.popup {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(5, 5, 5, 0.8);
    display: none;
    transition:display 0.5s;
}

.popup>div {
    background: #fff;
    border-radius: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    padding-top: 1rem;
    text-align: left;
}

.popup>div p, .popup>div a {
    color: #101020;
}

.popup>div a {
    display: flex;
    align-items: center;
}

.popup>div svg {
    width: 20px;
    margin-right: 0.6rem;
}

.popup>div a:hover, .popup>div a:hover svg {
    color: #2d59a0;
    stroke: #2d59a0;
}