body {
    background: linear-gradient(-30deg, var(--pu), var(--bl));
}

.container {
    background: linear-gradient(-30deg, var(--pu), var(--bl));
    text-align: center;
    position: relative;
}

.email {
    text-align: left;
    margin: 2rem 0;  
}

.email p:nth-of-type(2) {
    background-color: var(--col);
    display: inline-block;
    padding: 0.6rem 1rem;
    border-left: 8px solid #eee;
    margin: 0;
}

form {
    width: 100%;
    margin: auto;
    padding: 2rem 0;
}

form .row {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
}

input, textarea {
    color: #101020;
    background-color: #fff;
    border: 1px solid var(--col);
    padding: 0.5rem;
    width: 50%;
    box-sizing: border-box;
    margin: 0.5rem 0;
    border-radius: 5px;
    font-size: 1rem;
}

.row input {
    width: 49%;
}

form>input {
    width: 90%;
}

textarea {
    resize: none;
    width: 90%;
}

form input[type="submit"] {
    background-color: var(--col);
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    width: 50%;
    transition: 0.5s;
    letter-spacing: 2px;
}

form input[type="submit"]:hover {
    border-color: #fff;
}